.faqs-screen {
  display: flex;
  position: static;
  min-height: 100%;
}

.faqs-content {
  display: flex;
  flex: 1;
  position: static;
  flex-direction: row;
  margin-top: 13vh;
  margin-left: 16%;
  margin-right: 0;
  padding: 0;
}

.nav-menu .side-bar .footer {
  flex: 1;
  position: relative;
}

.left-faqs {
  padding: 0;
  width: 80%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 8px;
}

.left-faqs::-webkit-scrollbar {
  width: 0;
}

.faq-container {
  width: 98%;
  min-height: 120px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.modal-rectangle-header {
  position: relative;
  z-index: 1;
  background-color: #035594;
  padding: 0.3rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.faqs-screen .rectangle-header {
  position: relative;
  z-index: 1;
  background-color: #035594;
  padding: 0.3rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.faqs-modal-container .modal-dialog {
  max-width: 730px;
}

.faqs-modal-container .modal-body {
  font-size: 0.85rem;
  text-align: left;
}

.faqs-modal-container .modal-body ul {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 1rem;
}

.subquestion-content {
  display: flex;
  flex-direction: column;
}

.subquestion {
  margin-left: 1rem;
}

.subanswer-container {
  display: flex;
}

.subanswer {
  margin-top: 0.7rem;
  position: relative;
  font-size: 1rem;
  color: #000;
}

.faqs-modal-container .modal-body ul li {
  color: #808080;
  position: relative;
  font-size: 1rem;
}

.faqs-modal-container .modal-body ul li::before {
  content: "•";
  color: #f1c232;
  font-size: 2rem;
  position: absolute;
  top: -15px;
  left: -20px;
}

.answer-container {
  display: flex;
}

.answer {
  margin-top: 0.7rem;
  position: relative;
  font-size: 1rem;
  color: #000;
}

.reply-icon {
  width: 4%;
  height: 4%;
  margin: 0.5rem;
}

.faqs-modal-container .rectangle-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #035594;
  padding: 0.3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.faqs-modal-container .upper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faqs-modal-container h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
}

.faq-question {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 12px;
  padding-bottom: 10px;
}

.faq-question p {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 67%;
}

.question-image {
  width: 12%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5%;
  margin-right: 5%;
}

.proceed-image {
  justify-self: flex-end;
  width: 6%;
  height: auto;
  margin: 0;
  transform: rotate(180deg);
}

.right-faqs {
  padding: 0;
  width: 100%;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3rem;
}

.bottom-section img {
  width: 45%;
  height: 48%;
  position: absolute;
  bottom: 45px;
  right: 0;
}

#formQuestion {
  width: 300%;
  border-radius: 8px;
}

.bottom-section Button {
  background-color: #f1c232;
  border-color: #f1c232;
  color: #000;
  font-weight: 600;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
