.homepage-screen {
  display: flex;
  flex-direction: column;
  position: static;
  min-height: 100%;
}

.homepage-content {
  display: flex;
  flex: 1;
  position: static;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 3.5rem;
  margin-left: 15%;
  margin-right: 3%;
  padding: 0;
  gap: 0.7rem;
}

.rectangle-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #035594;
  padding: 0.6rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.banner-carousel {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.carousel-container {
  text-align: center;
  background-color: #fafafa;
  border-radius: 12px;
  width: 1150px;
  height: 335px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.bottom-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
}

.list-summary-container {
  position: relative;
  text-align: center;
  background-color: #fafafa;
  width: 570px;
  height: 300px;
  overflow: auto;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.list-summary-container::-webkit-scrollbar,
.list-information-container::-webkit-scrollbar {
  width: 0;
}

.list-information-container {
  position: relative;
  text-align: center;
  background-color: #fafafa;
  width: 570px;
  height: 300px;
  overflow: auto;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1080px) {
  .homepage-content {
    margin-left: 8rem;
  }
}


