.neo-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  min-height: 100%;
}

.neo-container {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  flex-direction: column;
  text-align: center;
  background-color: #fafafa;
  border-radius: 12px;
  margin-left: 15%;
  padding-bottom: 1.6rem;
  align-self: center;
  width: 80vw;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.neo-container .rectangle-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #035594;
  padding: 0.6rem;
  margin-bottom: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.neo-title {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin-bottom: 20px;
}

.details-icon {
  position: absolute;
  top: 40px;
  right: 25px;
  width: 32px;
  height: auto;
  cursor: pointer;
  z-index: 1;
}

.video-container {
  display: flex;
  position: relative;
  width: 100%; 
  max-width: 1100px; 
  margin: auto; 
  border: 3px solid #000;
  border-radius: 12px;
}

.video-container .video-iframe {
  width: 100%; 
  height: 500px; 
  border-radius: 8px;
}

@media (max-width: 1080px) {
  .neo-container{
    margin-left: 6rem;
  }
}

