.footer {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  padding: 0 30px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 87%;
}

.divider {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin: 10px 20px;
}

.dorado-icon {
  margin-top: 10px;
  height: auto;
  width: 25px;
}

.zoho-icon {
  margin-top: 5px;
  height: auto;
  width: 50px;
}

.footer-text {
  margin-top: 15px;
  font-size: 0.8rem;
  font-weight: 400;
}

@media (max-width: 1080px) {
  .footer {
    width: 93%;
  }

  .user-details {
    display: none;
  }

  .flex-column {
    margin-top: 0;
  }

}
