.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 35vw; 
  height: 7vh;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.header .nav-menu {
  display: flex;
  margin: 0; 
  padding: 0;
}

.header .nav-menu .mr-auto  {
  padding: 0 2rem; 
  position: relative; 
}

.header .nav-menu .mr-auto a {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 2rem; 
  text-decoration: none;
  color: #1e1e1e; 
  position: relative; 
}

.header .nav-menu .mr-auto a:hover{
  color: #F1C232;
}

.header .nav-menu .mr-auto .current-page::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px; 
  background-color: #f1f1f1; 
  border-radius: 4px; 
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.40); 
  z-index: -1;
}

.offcanvas {
  z-index: 9999999;
}

 .offcanvas-body-text {
  text-decoration: none;
  font-size: 1.2rem; 
}

.offcanvas-body-text .flex-column .custom-link {
  color: #1e1e1e;
  margin-top: 2rem;
}

 .hamburger {
  display: none;
}

.sign-out-button {
  background-color: #F1C232;
  border: none;
  border-radius: 20px;
  color: #1e1e1e;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 6px 10px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.20);
  margin-right: 20px;
  white-space: nowrap;
}

.sign-out-button:hover {
  background-color: #F9D98A;
}

@media screen and (max-width: 1380px) {
  .header {
    width: 45vw;
    transition: 500ms;
  }
}

@media screen and (max-width: 1080px) {
  .header {
    background-color: #fff;
    box-shadow: none;
    justify-content: flex-end; 
    border: none;
    padding: 0 20px; 
  }

  .header .nav-menu{
    display: none;
  }

 .hamburger {
    display: initial;
    border: none;
  }

}
