.sidebar {
  background-color: #ffffff;
  height: 100vh;
  width: 13%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 24px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.user-details {
  text-align: center;
  margin-top: 10px;
}

.user-name {
  font-weight: bold;
  font-size: 1rem;
}

.user-position {
  color: #808080;
  font-size: 0.8rem;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.dropdown-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.flex-column {
  margin-top: 20px;
  font-size: 0.8rem;
}

.flex-column .nav-link:hover {
  background-color: #f1f1f1;
  font-weight: 400;
  cursor: pointer;
}

.submenu {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 8px;
}

.submenu .nav-text {
  color: #808080;
}

.submenu .hide {
  display: none;
}

.submenu .show {
  display: block;
}

.active {
  background-color: #f1f1f1;
}

.company-logo {
  margin-top: auto;
  margin-left: 15px;
  padding: 20px;
}

.logo {
  width: 120px;
  height: auto;
}

.collapse-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 100px;
  right: -15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.collapse-icon.rotate {
  transform: rotate(180deg);
}

.sidebar.collapsed {
  width: 80px;
  transition: 0.3s ease-out;
}

.sidebar.collapsed .profile-picture {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.sidebar.collapsed .flex-column .nav-link .icon {
  width: 32px;
  height: auto;
  justify-content: center;
}

.sidebar.collapsed .requests {
  width: 32px;
  height: auto;
}

.sidebar.collapsed .user-details,
.sidebar.collapsed .nav-text,
.sidebar.collapsed .dropdown-icon {
  display: none;
}

.sidebar.collapsed .company-logo .logo {
  width: 60px;
  margin-bottom: 20px;
  height: auto;
}

@media (max-width: 1080px) {
  .sidebar {
    width: 80px;
  }

  .user-details,
  .nav-text,
  .dropdown-icon {
    display: none;
  }

  .profile-picture {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
  }

  .flex-column .nav-link .icon {
    width: 32px;
    height: auto;
    justify-content: center;
  }

  .requests {
    width: 32px;
    height: auto;
  }

  .company-logo .logo {
    width: 60px;
    margin-bottom: 20px;
    height: auto;
  }
}
