.signin-screen {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.signin-screen .parent-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}

.signin-screen .parent-container .left-container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.signin-screen .input-box {
  width: 100%;
  padding: 8px 24px 8px 60px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.2s;
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 20px 20px;
  font-size: 0.8rem;
}

.checkbox-forgot-wrapper {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
}

.checkbox-forgot-wrapper {
  margin-top: 10px;
  margin-bottom: 50px;
}

.logo {
  width: 130px;
}

.tagline {
  color: #a59898;
  text-align: center;
  margin-bottom: 40px;
}

.sign-in-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.sign-in-text {
  text-decoration: none;
  color: #1e1e1e;
}

.username {
  background-image: url("../assets/others/Username.png");
}

.password {
  background-image: url("../assets/others/Password.png");
}

.forgot-password {
  position: relative;
  color: #a59898;
  text-decoration: none;
  margin-left: 2.5rem;
}

.forgot-password:hover {
  color: #5e9ed6;
  text-decoration: underline;
  cursor: pointer;
}

.signin-screen .parent-container .left-container,
.signin-screen .parent-container .right-container {
  width: 105.5%;
  margin: 0 auto;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
  position: relative;
}

.sign-in-button {
  background-color: #f1c232;
  border: none;
  margin-top: 60px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 4px 4px 4px #a59898;
  font-weight: 600;
  font-size: 0.8rem;
  text-decoration: none;
  text-align: center;
  color: #1e1e1e;
}

.sign-in-button:hover {
  background-color: #f5d163;
  cursor: pointer;
}

.signin-screen .parent-container .right-container {
  background-color: rgba(55, 141, 212, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.signin-screen .ess-title {
  color: #fafafa;
  font-size: 32px;
  letter-spacing: 0.25cm;
  margin-bottom: 50px;
  font-weight: 600;
}

.signin-screen .ess-tagline {
  color: #fafafa;
  font-size: 18px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .parent-container {
    flex-direction: column;
    overflow-y: scroll;
  }
  .left-container,
  .right-container {
    flex: 1;
    border-radius: 10px;
  }
}
