.employee-information-container {
  width: 100%;
  min-height: 95%;
}

.employeeinfo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.edit-icon {
  width: 5%;
  height: auto;
  cursor: pointer;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}

.info-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

.postal-item {
  margin-top: 3.2rem;
}

.info-item label {
  font-size: 0.9rem;
  font-weight: 500;
}

.info-item span {
  font-size: 0.9rem;
  color: #808080;
}
