.bg-info {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bginfo-title {
  font-size: 1.1rem;
}

.bg-info th {
  background-color: #035594;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: start;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}

.bg-info td {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: start;
}

.table-divider {
  width: 100%;
  height: 1px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.8rem;
  background-color: #ccc;
}
