.work-information-container {
  width: 100%;
  min-height: 95%;
  margin: 0;
  padding: 1rem;
  position: relative;
}

.details-top-container {
  display: flex;
}

.edit-profile-container {
  width: 80%;
}

.work-information-container .profile-picture {
  width: 95%;
  height: auto;
}

.edit-profilepic-icon {
  position: absolute;
  width: 6%;
  height: auto;
  top: 52%;
  left: 35%;
}

.employee-details {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.top-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.employee-details h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.employee-details ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.detail-item {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.detail-label1 {
  margin-right: 3.9rem;
}
.detail-label2 {
  margin-right: 2.2rem;
}
.detail-label3 {
  margin-right: 5rem;
}
.detail-label4 {
  margin-right: 3.8rem;
}

.detail-item span {
  font-size: 0.9rem;
}

.employee-details li strong {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.change-password-button {
  padding: 0.3rem;
  font-size: 0.7rem;
  background-color: #f1c232;
  border-color: #f1c232;
  color: #000;
  font-weight: 500;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.work-data {
  display: flex;
  bottom: 0;
}

.work-data-row {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 0;
  width: 100%;
}

.work-data p {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.work-data p strong {
  font-size: 0.9rem;
  font-weight: 600;
}
