.carousel {
  width: 100%;
  height: 41vh;
  border-radius: 12px;
}

.carousel-item {
  height: 41vh;
  border-radius: 12px;
}

.carousel-item img {
  width: 100%;
  height: 41vh;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
