#list-summary-tabs .nav-link {
  margin-left: 30px;
  width: 100%;
  color: #808080;
  padding: 3px;
}

#list-summary-tabs .nav-link.active {
  color: #fff;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  background-color: #035594;
  border-color: #035594;
}

#list-summary-tabs .nav-link:hover {
  color: #000;
  border-color: #035594;
}

#list-summary-tabs {
  position: sticky; 
  top: 40px; 
  background-color: #fafafa; 
  z-index: 1; 
}

.approval-tab,
.submitted-tab {
  background-color: #fafafa;
}

.list-summary-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20.2rem;
}

.viewallButton {
  background-color: #F1C232;
  border: #F1C232;
  color: #000;
  padding-top: 0.1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.1rem;
}

.viewallButton:hover {
  background-color: #f1d06c;
  border: #f1d06c;
  color: #fff;
}

.viewallButton span{
  font-size: 0.9rem;
}

.list-summary-title {
  font-size: 1.1rem;
  padding: 10px;
  position: sticky; 
  top: 10px; 
  background-color: #fafafa; 
  z-index: 0; 
}

.custom-table {
  margin: 10px;
  margin-left: 30px;
  width: 90%;
}

.custom-table th {
  background-color: #035594;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: start;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}

.custom-table td {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: start;
}
