#list-information-tabs .nav-link {
    margin-left: 30px;
    width: 100%;
    color: #808080;
    padding: 3px;
  }
  
  #list-information-tabs .nav-link.active {
    color: #fff;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    background-color: #035594;
    border-color: #035594;
  }
  
  #list-information-tabs .nav-link:hover {
    color: #000;
    border-color: #035594;
  }
  
  #list-information-tabs {
    position: sticky; 
    margin-top: 10px;
    top: 0; 
    background-color: #fafafa; 
    z-index: 1; 
  }
  
  .holiday-tab,
  .new-hire-tab,
  .leave-tab,
  .attendance-tab {
    background-color: #fafafa;
  }

  .icon-button {
    width: 20px; 
    height: 20px; 
    margin-top: 1rem;
  }

  .icon-button.Previous {
    margin-right: 1.5rem;
  }

  .icon-button.Next {
    margin-left: 1.5rem;
  }

  .monthsButton {
    margin-top: 1rem;
    color: #000;
    background-color: #F1C232;
    border: #F1C232;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .monthsButton:hover {
    background-color: #f1d06c;
  }

  .no-records-message{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: #a1a1a1;
  }

  .custom-table {
    margin: 10px;
    margin-left: 30px;
    width: 90%;
  }
  
  .custom-table th {
    background-color: #035594;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: start;
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
  }
  
  .custom-table td {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: start;
  }
  