.administrator-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  height: 105vh;
}

.administrator-container {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  padding: 0;
  align-self: center;
  width: 80vw;
}

.admin-item-container {
  margin-bottom: 2rem;
}

.admin-item {
  position: relative;
  background-color: #fafafa;
  height: 15vh;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.admin-contents {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.admin-contents img {
  width: 24px; 
  height: auto; 
  margin-right: 10px; 
  transform: rotate(180deg);
}

.admin-contents span{
font-size: 1.1rem;
font-weight: 600;
}

img[alt="Maintenance Icon"] {
  margin-left: 4rem;
}
img[alt="Transfer Icon"] {
  margin-left: 4rem;
}
img[alt="Announcements Icon"] {
  margin-left: 4.5rem;
}
img[alt="Pay Icon"] {
  margin-left: 5.5rem;
}
img[alt="Reset Icon"] {
  margin-left: 4.5rem;
}
img[alt="Holiday Icon"] {
  margin-left: 6.3rem;
}
img[alt="File Icon"] {
  margin-left: 5.4rem;
}
img[alt="Shift Icon"] {
  margin-left: 5.1rem;
}
img[alt="Balance Icon"] {
  margin-left: 3rem;
}
img[alt="Manual Icon"] {
  margin-left: 1.4rem;
}
img[alt="Cancel Icon"] {
  margin-left: 5rem;
}
img[alt="Reports Icon"] {
  margin-left: 6.3rem;
}