.attendance-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  height: 100vh;
}

.attendance-container {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  margin-left: 15%;
  padding: 0;
  gap: 1rem;
  align-self: center;
  width: 80vw;
}

.attendance-log-container,
.leave-status-container {
  position: relative;
  background-color: #fafafa;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  height: 49%;
}

.attendance-component,
.leave-component {
  height: 95%;
  padding: 1rem;
}
