.forms-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  height: 100vh;
}

.forms-container {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  flex-direction: column;
  text-align: center;
  background-color: #fafafa;
  border-radius: 12px;
  margin-left: 17%;
  align-self: center;
  width: 80vw;
  height: 80vh;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.forms-container .rectangle-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #035594;
  padding: 0.6rem;
  margin-bottom: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.accordion-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 12px;
}

.left-accordion,
.right-accordion {
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 8px;
  border: 3px solid #000;
}

.left-accordion::-webkit-scrollbar,
.right-accordion::-webkit-scrollbar {
    width: 0;
}
