.personalinfo-screen {
  display: flex;
  position: static;
  min-height: 100%;
}

.personalinfo-content {
  display: flex;
  flex: 1;
  position: static;
  flex-direction: row;
  margin-top: 10vh;
  margin-left: 16%;
  margin-right: 3%;
  padding: 0;
  gap: 1rem;
}

.nav-menu .side-bar .footer {
  flex: 1;
  position: relative;
}

.personalinfo-container {
  width: 99%;
  height: 46.4%;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.personalinfo-container1 {
  width: 99%;
  min-height: 95%;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.personalinfo-container1::-webkit-scrollbar {
  width: 0;
}

.personalinfo-screen .rectangle-header {
  position: relative;
  z-index: 1;
  background-color: #035594;
  padding: 0.6rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.left-personalinfo {
  padding: 0;
  gap: 1rem;
  width: 100%;
  height: 86vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 8px;
}

.personal-history{
  padding: 1rem;
}

.right-personalinfo {
  padding: 0;
  width: 100%;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
}
