.viewlists-screen {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  height: 104vh;
}

.viewlists-container {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  margin-left: 15%;
  padding: 0;
  align-self: center;
  width: 80vw;
}

.viewlists-document-container {
  position: relative;
  background-color: #fafafa;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  height: 25%;
}

.container-divider {
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  background-color: #808080;
}

.submitted-document-container {
  position: relative;
  height: 100%;
  border: 1px solid #ccc;
}
