.changepassword-modal-container .modal-dialog {
  max-width: 400px;
}

.changepassword-modal-container .modal-body {
margin: 1rem;
}

.modal-body p {
    color: #035594;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.changepassword-modal-container .rectangle-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #035594;
  padding: 0.3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.changepassword-modal-content {
  display: flex;
  padding: 10px;
}

.current-password {
  margin-bottom: 3rem;
}

#formBasicUsername,
#formBasicCurrentPassword,
#formBasicNewPassword {
  margin-bottom: 1rem;
}

.confirm-button,
.back-to-signin {
  background-color: #f1c232;
  border-color: #f1c232;
  color: #000;
}

.changepassword-modal-container .close-icon {
  position: absolute;
  width: 24px;
  height: auto;
  cursor: pointer;
  top: 30px;
  right: 20px;
}
