.editprofile-modal-container .modal-dialog {
  max-width: 600px;
}

.editprofile-modal-container .rectangle-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #035594;
  padding: 0.3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.editprofile-modal-content {
  display: flex;
  padding: 10px;
}

.editprofile-modal-container .close-icon {
  position: absolute;
  width: 24px;
  height: auto;
  cursor: pointer;
  top: 30px;
  right: 20px;
}

.editprofile-modal-container .modal-body {
  font-size: 0.85rem;
  text-align: left;
}

.left-section,
.right-section {
  flex: 1;
}

.profile-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  margin-bottom: 20px;
}

.profile-preview {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%; 
}
