.neo-modal-container .modal-dialog {
  max-width: 730px;
}

.neo-modal-container .rectangle-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #035594;
  padding: 0.3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.neo-modal-content {
  padding: 10px;
}

.neo-modal-container .upper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.neo-modal-container h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
}

.close-icon {
    position: absolute;
  width: 24px;
  height: auto;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.neo-modal-container .modal-body {
  font-size: 0.85rem;
  text-align: left;
}

.neo-modal-container .modal-body ul {
  list-style-type: none;
  padding-left: 20px;
}

.neo-modal-container .modal-body ul li {
  color: #000;
  position: relative;
}

.neo-modal-container .modal-body ul li::before {
  content: "•";
  color: #f1c232;
  font-size: 2rem;
  position: absolute;
  top: -15px;
  left: -20px;
}

.highlight {
  color: #378dd4;
  font-weight: 500;
}
