.signout-modal-container .modal-dialog {
  max-width: 600px;
}

.signout-modal-container .rectangle-header {
  flex: 1;
  background-color: #035594;
  padding: 0.3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.signout-modal-container .modal-body {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.signout-modal-container .modal-footer {
  justify-content: center;
  border: none;
  padding-bottom: 30px;
}

.signout-modal-container .modal-button {
  width: 80px;
  margin: 0 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.signout-modal-container .modal-button.sign-out {
  background-color: #f1c232;
  border: #f1c232;
  color: #000;
}

.signout-modal-container .modal-button:hover {
  cursor: pointer;
  background-color: #035594;
  color: #fff;
}
